<html>
<body>
  <h3>This is a form </h3>
  {{input type = "text" value=Name}}
  <button type="submit" {{action "select" }}>route button</button>
  <div>
    Hello {{name}} {{age}}
  </div>
</body>
</html>
